
.manrope {
  font-family: "Manrope", sans-serif;
  
}
/* mediam16 :manrope font-medium text-base
    extrabold20 : manrope font-extrabold text-xl
    bold40 : manrope font-bold text-4xl
    bold16 : manrope font-bold text-base
*/
